.project-setting {
  padding-bottom: 30px;
  .form-group {
    input {
      padding-inline-start: 40px;
      color: var(--gray-color);
      &::placeholder {
        color: var(--gray-color);
        font-size: 14px;
      }
    }
  }

  .btns {
    margin-top: 15px;
    button {
      padding: 0px 10px !important;
      min-width: max-content;
      min-height: max-content;
      margin: 0px 3px;
      border-radius: 5px;
      font-size: 14px;
      letter-spacing: 0.5px;
      height: 40px;
    }
  }
}

::ng-deep {
  .mat-paginator-container {
    justify-content: space-between !important;
    padding: 15px 10px 0px !important;
  }
  .mat-paginator-range-actions {
    direction: inherit !important;
  }
  .mat-paginator-range-label {
    direction: initial;
  }
}

.modal-form {
  @apply max-h-[65vh] p-2 overflow-auto;
  > div {
    @apply grid md:grid-cols-3 lg:grid-cols-4 gap-4;
  }
  hr {
    @apply my-3;
  }
}

form {
  .ng-select {
    // min-width: 100% !important;
  }
}

.stats {
  margin-bottom: 0 !important;
  .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.7em;
    margin-bottom: 25px;

    i {
      font-size: 40px;
      margin-bottom: 10px;
      color: var(--base-color);
    }
    span {
      &.num {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      &.status {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0px;
        color: var(--base-color);
      }
    }
  }
}

.table {
  .statusCell {
    min-width: 250px;
    height: 50px;
    .from,
    .to {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: start;
      justify-content: space-between;
    }
    .status {
      min-width: 150px;
      height: 25px;
      background-color: rgb(180, 0, 0);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 5px 0px;
      font-size: 13px;
    }
  }
  // button {
  //   padding: 12px !important;
  //   margin: 3px !important;
  // }
}

.endProject {
  label {
    display: block;
    margin-bottom: 20px;
  }

  ::ng-deep {
    .mat-radio-button {
      margin-inline-end: 15px;
    }
  }
}

.add-btn {
  width: 32px;
  height: 24px;
  border-radius: 50%;
  background: var(--base-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-inline-start: 20px;
}

.bg-red-100 {
  background-color: rgb(254 226 226 / var(--tw-bg-opacity)) !important;
  &:hover {
    background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
    color: #fff !important;
  }
}

.child {
  display: none;
  &.show {
    position: absolute;
    width: max-content;
    inset: unset !important;
    transform: unset !important;
    right: unset !important;
    left: unset !important;
    inset-inline-end: 25px !important;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #ccc;
    z-index: 50;
    display: flex;
  }
  button {
    margin: 0px 3px;
  }
}

.mat-progress-bar {
  height: 15px;
}
::ng-deep {
  .mat-progress-bar-fill {
    ::after {
      background-color: var(--base-color) !important;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;

  .checkbox-content {
    width: 60px;
    height: 30px;
    border-radius: 50px;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      inset-inline-start: 0;
    }

    .box {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      // background: rgb(227, 227, 227);
      background-color: var(--gray-bg-color);
      cursor: pointer;
      position: absolute;
      z-index: 1;
      transition: all 0.4s ease-in-out;
      box-shadow: 0px 0px 1px 1px #e3e3e3;
      filter: none !important;

      span {
        color: #444;
        font-size: 9px;
        font-weight: bold;
        letter-spacing: unset;
        word-wrap: break-word;
        top: 50%;
        transform: translateY(-50%);
        max-width: 50%;

        &:first-of-type {
          left: 4px;
        }

        &:last-of-type {
          right: 4px;
        }
      }

      .cycle {
        width: 26px;
        height: 26px;
        margin: 0px 2px;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        background: var(--base-color);
      }

      .cycle {
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1px;
        }
      }

      &.checked {
        .cycle {
          transform: translateX(-110%) !important;

          // &::after {
          //   content: "تمت";
          // }
        }
      }

      &.blur {
        .cycle {
          transform: translateX(-10%) !important;

          // &::after {
          //   content: "لم تتم";
          // }
        }
      }
    }
  }

  p {
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
}

textarea {
  border: 1px solid #ccc;
  padding: 15px;
  &:focus-visible {
    outline: none;
  }
}

::ng-deep {
  .datatable-row-wrapper {
    padding: 7px 0px;
  }
  .datatable-header-cell,
  .datatable-body-cell {
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .project-setting {
    .actions {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      i {
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
.statusCell {
  min-width: 250px;
  height: 50px;
  .from,
  .to {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: start;
    justify-content: space-between;
  }
  .status {
    min-width: 150px;
    height: 25px;
    background-color: rgb(180, 0, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 0px;
    font-size: 13px;
  }
}

.duration-input {
  background-color: var(--gray-bg-color);
}

.content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px #eee;
}

@media (min-width: 1200px){
.modal-xxl {
    --bs-modal-width: 1330px !important;
  }
}

/* @media print specifies CSS rules that only apply when printing */
@media print {
  /* CSS reset to clear styles for printing */
  html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* Hide everything on the page */
  body * {
    display: none;
  }

  #content, #myImages, #myImages * {
    /* Only display the images we want printed */
    /* all of the image's parent divs
       leading up to the body must be un-hidden (displayed) too
    */
    display: block;
    /* CSS reset to clear the specific visible divs for printing */
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* We have line breaks in the DIV
     to separate the images in the browser,
     but do not want those line breaks when printing
  */
  #myImages br {
    display: none;
  }

  img {
    /* Only some browsers respect this rule: */
    page-break-inside: avoid;
    /* Almost all browsers respect this rule: */
    page-break-after:always;
  }
}

/* The @page rules specify additional printing directives that browsers may respect
   Here we suggest printing in landscape (instead of portrait) with a small margin.
   Browsers, however, are free to ignore or override these suggestions.
   See also:
    https://developer.mozilla.org/en-US/docs/CSS/@page
    https://dev.w3.org/csswg/css3-page/#at-page-rule
*/
@page {
  /* Some browsers respect rules such as size: landscape */
  margin: 1cm;
}
#myImages {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#myImages br {
  display: none;
}

#myImages {
  /* Only some browsers respect this rule: */
  page-break-inside: avoid;
  /* Almost all browsers respect this rule: */
  page-break-after:always;
}
