<div class="reset-password">
  <div class="container">
    <div class="reset-password-info rounded bg-body">
      <div class="head text-center">
        <img
          src="{{ environmenturl + OrganizationData?.logoUrl }}"
          alt="logo"
          class="d-inline-block mb-3 img-fluid"
        />
        <!-- <h2>{{ "authTitle1" | translate }}</h2>
        <p>{{ "authTitle2" | translate }}</p> -->
      </div>
      <form #form="ngForm">
        <div class="form-input">
          <!-- <img src="/assets/images/ic_mail_outline_24px.png" alt="user icon" /> -->

          <input
            type="password"
            name="password"
            placeholder="{{ 'password' | translate }}  "[(ngModel)]="password"
            password
            autocomplete="off"
          />
          <input type="password" placeholder="{{ 'confirmepassword' | translate }}" class="form-control my-2"
           name="confirmepassword" autocomplete="off" (keyup)="validate_password($event)" />
          <div class="fieldrequired" *ngIf="confirmepassword==false">
            {{ "Use same password" | translate }}
          </div>
        </div>

        <button
          class="btn btn-outline-secondary reset-password-btn"
          [disabled]="password == null|| confirmepassword==false"
          (click)="send()"
        >
          {{ "send" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
