<div class="work-orders">
  <app-navigator [title]="title"></app-navigator>
  <div class="head flex gap-2 flex-wrap items-end justify-between">
    <div class="btns mb-2">
      <button *ngIf="userG?.userPrivileges.includes(111411)"
        type="button"
        class="flex gap-1 btn bg-base text-white mb-3"
        (click)="open(addProjectModal, null, 'add')"
      >
        {{ "addNewTask" | translate }}
      </button>
    </div>
  </div>

  <div class="filters">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label"> {{ "research" | translate }}</label>
            <ng-select [(ngModel)]="searchBox.searchType"
              class="w-full p-0"
              placeholder="{{ 'Chose' | translate }}"
              name="filter_type"
            >
              <ng-option [value]="1">{{
                "Task Number and Assignment" | translate
              }}</ng-option>
              <ng-option [value]="2">{{
                "Commissioning by" | translate
              }}</ng-option>
              <ng-option [value]="3">{{
                "Executing Officer" | translate
              }}</ng-option>
              <ng-option [value]="4">{{
                "Customer Name" | translate
              }}</ng-option>
              <ng-option [value]="5">{{
                "To be implemented" | translate
              }}</ng-option>
            </ng-select>
          </div>
        </div>

        <div *ngIf="searchBox.searchType == 1" class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Task Number and Assignment" | translate }}</label
            >
            <input (change)="RefreshData()" name="taskNumber" [(ngModel)]="data.filter.search_OrderNo" type="text" class="form-control" />
          </div>
        </div>
        <div *ngIf="searchBox.searchType == 5" class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "To be implemented" | translate }}</label>
            <input (change)="RefreshData()" name="implemented" [(ngModel)]="data.filter.search_required" type="text" class="form-control"/>
          </div>
        </div>

        <div *ngIf="searchBox.searchType == 2" class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Commissioning by" | translate }}</label
            >

            <ng-select [items]="load_ResponsibleEng" bindLabel="name" bindValue="id" [clearable]="true"
            class="w-full p-0" [(ngModel)]="data.filter.search_ResponsibleEng"  placeholder="{{ 'Chose' | translate }}"
            (change)="RefreshData()">
            </ng-select>
          </div>
        </div>
        <div *ngIf="searchBox.searchType == 3" class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Executing Officer" | translate }}</label
            >
            <ng-select [items]="load_ExecutiveEng" bindLabel="name" bindValue="id" [clearable]="true"
            class="w-full p-0" [(ngModel)]="data.filter.search_ExecutiveEng"  placeholder="{{ 'Chose' | translate }}"
            (change)="RefreshData()">
            </ng-select>
          </div>
        </div>
        <div *ngIf="searchBox.searchType == 4" class="col-md-3 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Customer Name" | translate }}</label
            >
            <ng-select [items]="load_CustomerId" bindLabel="name" bindValue="id" [clearable]="true"
            class="w-full p-0" [(ngModel)]="data.filter.search_CustomerId"  placeholder="{{ 'Chose' | translate }}"
            (change)="RefreshData()">
            </ng-select>
          </div>
        </div>

        <div class="col-md-3 col-lg-1">
          <div class="form-group">
            <label class="col-form-label">بحث فترة</label>
            <button class="btn btn-primary" (click)="data.filter.enable = !data.filter.enable" [translate]="'name'"
            [translateParams]="{
                      ar: 'فلترة بالوقت',
                      en: 'Time Filter'
                    }"></button>
          </div>

        </div>

        <div class="col-md-6 col-lg-3" *ngIf="data.filter.enable">
          <div class="form-group">
            <label class="col-form-label">{{ "Chose Date" | translate }}</label>
            <input
              placeholder="{{ 'Chose Date' | translate }}"
              name="date" type="text" class="form-control" [bsConfig]="{rangeInputFormat : 'DD/MM/YYYY'}" bsDaterangepicker #dpr="bsDaterangepicker"
              [(ngModel)]="data.filter.date"
              (ngModelChange)="CheckDate($event)"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">{{ "search" | translate }}</label>
            <input
              (keyup)="applyFilter($event)"
              placeholder="{{ 'search' | translate }}"
              #input
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- table -->
  <div class="overflow-auto mt-4">
    <table
      mat-table
      [dataSource]="workOrdersDataSource"
      matSort
      class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
    >
      <ng-container matColumnDef="taskNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Task Number and Assignment" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.orderNo }}
        </td>
      </ng-container>
      <ng-container matColumnDef="assignedTo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Commissioning by" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.userName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ ("From" | translate) + " " + ("date" | translate) }} </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.orderDate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ ("To" | translate) + " " + ("date" | translate) }} </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.endDate }}
        </td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Customer Name" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.customerName??"بدون" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="implemented">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "To be implemented" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.required }}
        </td>
      </ng-container>
      <ng-container matColumnDef="enginner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Responsible Engineer" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.responsibleEngName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="excuting_officer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Executing Officer" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.executiveEngName }}
        </td>
      </ng-container>
      <ng-container matColumnDef="projectNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "Project Number" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.projectNo??"بدون" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "status" | translate }}</span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.woStatustxt }}
        </td>
      </ng-container>
      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span>{{ "operations" | translate }}</span>
        </th>

        <td mat-cell *matCellDef="let element">
          <button  *ngIf="userG?.userPrivileges.includes(111412) && element.woStatus!=3"
            class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white w-10 mx-1"
            (click)="open(addProjectModal, element, 'edit')"
          >
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button  *ngIf="userG?.userPrivileges.includes(111413) && element.woStatus!=3"
            class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white w-10 mx-1"
            (click)="getRow(element);open(deleteModal)"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
          <button  (click)="downloadFile(element)" *ngIf="element.attatchmentUrl"
          class="min-w-max p-2 bg-sky-100 hover:bg-sky-500 rounded-lg duration-300 hover:text-white aspect-square w-10">
          <i class="fa-solid fa-eye"></i>
        </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="workOrdersDisplayedColumns"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: workOrdersDisplayedColumns"
        class="duration-300 hover:bg-slate-100"
      ></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          {{ "noResult" | translate }} "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 25,100,workOrdersDataSource.data.length]"> </mat-paginator>
</div>

<!-- addProjectModal / edit -->
<ng-template #addProjectModal let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl">
        {{
          modalDetails?.workOrderId
            ? ("editTask" | translate)
            : ("addNewTask" | translate)
        }}
      </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      <div class="row items-center">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="form-group">
            <label for="taskNo" class="text-right col-form-label block">
              {{ "Task Number and Assignment" | translate }}
            </label>
            <input
              required
              #taskNo="ngModel"
              [(ngModel)]="modalDetails.orderNo"
              ngModel
              class="form-control"
              type="text"
              id="taskNo"
              name="taskNo"
              disabled="disabled"
            />
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="form-group">
            <label class="text-right col-form-label block">
              {{ "Date" | translate }} {{ " " }}{{ "From" | translate }}
            </label>
            <div class="form-group timeInput">
              <input
                [(ngModel)]="modalDetails.orderDate"
                name="from"
                type="text"
                class="form-control"
                bsDatepicker
                (ngModelChange)="CheckDateValid($event,1)"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="form-group">
            <label class="text-right col-form-label block">
              {{ "Date" | translate }} {{ " " }}{{ "To" | translate }}
            </label>
            <div class="form-group timeInput">
              <input
                [(ngModel)]="modalDetails.endDate"
                name="to"
                type="text"
                class="form-control"
                bsDatepicker
                (ngModelChange)="CheckDateValid($event,2)"
                autocomplete="off"
              />
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Commissioning by" | translate }}</label
            >
            <ng-select
              name="assignedTo"
              class="w-full p-0"
              placeholder="{{ 'Chose' | translate }}"
              [(ngModel)]="modalDetails.responsibleEng"
              [ngModelOptions]="{ standalone: true }"
              [items]="load_ResponsibleEng_M"
              bindLabel="name"
              bindValue="id"
              [clearable]="true"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "Executing Officer" | translate }}</label
            >
            <ng-select
              name="excuting_officer"
              class="w-full p-0"
              placeholder="{{ 'Chose' | translate }}"
              [(ngModel)]="modalDetails.executiveEng"
              [ngModelOptions]="{ standalone: true }"
              [items]="load_ExecutiveEng_M"
              bindLabel="name"
              bindValue="id"
              [clearable]="true"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-3">
          <div class="form-group">
            <label class="col-form-label"> {{ "Customer" | translate }}</label>
            <ng-select
              name="customer"
              class="w-full p-0"
              placeholder="{{ 'Chose' | translate }}"
              [(ngModel)]="modalDetails.customerId"
              [ngModelOptions]="{ standalone: true }"
              [items]="load_CustomerId_M"
              bindLabel="name"
              bindValue="id"
              [clearable]="true"
              (change)="ChangeCustomerFn()"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 mb-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "customerIdentity" | translate }}</label
            >
            <input
              name="customerId"
              type="number"
              class="form-control"
              [(ngModel)]="modalDetails.agentId"
              [ngModelOptions]="{ standalone: true }"
              disabled="disabled"
            />
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label class="col-form-label">
              {{ "To be implemented" | translate }}</label
            >
            <input
              name="implemented"
              class="form-control"
              [(ngModel)]="modalDetails.required"
              [ngModelOptions]="{ standalone: true }"
              autocomplete="off"

            />
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label class="col-form-label"> {{ "Notes" | translate }}</label>
            <input
              name="notes"
              class="form-control"
              [(ngModel)]="modalDetails.note"
              [ngModelOptions]="{ standalone: true }"
              autocomplete="off"

            />
          </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="form-check form-switch">
            <input
              name="linkProject"
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              [(ngModel)]="modalDetails.projectIdChecked"
              [ngModelOptions]="{ standalone: true }"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault">
              {{ "Linking to a project?" | translate }}
            </label>
          </div>
        </div>

        <div *ngIf="modalDetails.projectIdChecked" class="col-sm-6 col-md-4 col-lg-3 mb-3">
          <div class="form-group">
            <label class="col-form-label"> {{ "Project" | translate }}</label>
            <ng-select
              class="w-full p-0"
              placeholder="{{ 'Chose' | translate }}"
              name="customer"
              [(ngModel)]="modalDetails.projectId"
              [ngModelOptions]="{ standalone: true }"
              [items]="load_ProCustomer_M"
              bindLabel="name"
              bindValue="id"
              [clearable]="true"
            >
            </ng-select>
          </div>
        </div>

        <div class="col-sm-6 mb-3">
          <div class="form-group col-span-1 md:col-span-2">
            <label for="formFile" class="form-label">
              {{ "Upload File" | translate }}</label
            >
            <input class="form-control" type="file" id="formFile"
            [(ngModel)]="uploadedFiles"
            [ngModelOptions]="{standalone: true}"
            (change)="selectFile($event)"
            />
          </div>
        </div>
      </div>
    </form>
    <div
      class="flex gap-2 justify-end pt-3 border-t border-neutral-300 col-span-1 md:col-span-2 mt-2"
    >
      <button
        class="btn bg-base text-white"
        type="submit"
        [disabled]="disableButtonSave_WorkOrder"
        (click)="modalDetails?.workOrderId ? SaveWorkOrder('edit',modal) : SaveWorkOrder('add',modal) "
      >
        {{ modalDetails?.workOrderId ?  ("edit" | translate) : ("add" | translate) }}
      </button>
      <button (click)="modal?.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deleteModal -->
<ng-template #deleteModal let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirm(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>
