<div class="cost-center-movement">
    <app-navigator [title]="title"></app-navigator>
  
    <!-- inputs -->
    <div class="container-fluid">
      <div class="flex flex-wrap gap-4 align-items-end">
  
        <div class="form-group" >
          <label class="col-form-label"> {{ "Branches" | translate }}</label>
          <ng-select
            class="w-full p-0"
            placeholder="{{ 'Chose' | translate }}"
            [(ngModel)]="data.filter.search_Branch"
            name="costCenter"
            (change)="RefreshData();"
          >
            <ng-option *ngFor="let user of load_Branch" [value]="user.branchId">{{
              user.branchName
            }}</ng-option>
          </ng-select>
        </div>
  
        <div class="flex justify-content-center gap-3">
          <button class="btn btn-primary" (click)="data.filter.enable = !data.filter.enable;CheckDate(null)" [translate]="'name'"
          [translateParams]="{
                    ar: 'فلترة بالوقت',
                    en: 'Time Filter'
                  }"></button>
        <div class="form-group timeInput" *ngIf="data.filter.enable">
          <input placeholder="{{ 'Chose Date' | translate }}" [(ngModel)]="data.filter.date" type="text" (ngModelChange)="CheckDate($event)"
            class="form-control" bsDaterangepicker #dpr="bsDaterangepicker" />
        </div>
        </div>
  
  
  
        <div class="form-group">
          <label class="col-form-label"> {{ "search" | translate }}</label>
  
          <input type="text " class="w-full p-2 inputType"autocomplete="off" name="search" (keyup)="applyFilter($event)"/>
        </div>
  
  
        <div class="flex flex-wrap justify-content-center gap-3">
          <button type="button" class="flex gap-1 btn btn-outline-secondary"(click)="getPrintdata('report')">
            {{ "Print" | translate }}
            <i class="fa-solid fa-print"></i>
          </button>
  
          <button
            type="button"
            class="flex gap-1 btn btn-success"
            (click)="exportData()"
          >
            {{ "exportExcel" | translate }}
          </button>
        </div>
      </div>
  
      <!-- table -->
      <div class="overflow-auto mt-4">
        <table
          mat-table
          [dataSource]="projectsDataSource"
          matSort
          class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
        >

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{ "أسم العميل" | translate }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerName }}
          </td>
          <td mat-footer-cell *matFooterCellDef class="bg-light"></td>
        </ng-container>
  
          <ng-container matColumnDef="invoiceNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "رقم الفاتورة" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceNumber }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">الإجمالي</td>
          </ng-container>
          <ng-container matColumnDef="invoiceDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "التاريخ" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceDate }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light"></td>
          </ng-container>
          <ng-container matColumnDef="branchName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "الفرع" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.branchName }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light"></td>
          </ng-container>
  
          <ng-container matColumnDef="invoiceValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "قيمة الفاتورة" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.invoiceValue  }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.invoiceValue  }}</td>
          </ng-container>
  
          <ng-container matColumnDef="valueCollect">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "المبلغ المحصل" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.valueCollect }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.valueCollect  }}</td>
          </ng-container>
  
          <ng-container matColumnDef="retinvoiceValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "المردودات" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.retinvoiceValue }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.retinvoiceValue  }}</td>
          </ng-container>
          <ng-container matColumnDef="accDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "تاريخ الاستحقاق" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.accDate }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light"></td>
          </ng-container>
          <ng-container matColumnDef="valuedue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "المبلغ المستحق" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getvaluedue(element) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.valuedue  }}</td>
          </ng-container>
          <ng-container matColumnDef="daysV">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "عمر الدين" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.daysV }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.daysV  }}</td>
          </ng-container>
          <ng-container matColumnDef="undue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "لم يستحق بعد" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRangeValue(element,0) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.undue  }}</td>
          </ng-container>
          <ng-container matColumnDef="onetothirty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "1-30" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRangeValue(element,1) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.onetothirty  }}</td>
          </ng-container>
          <ng-container matColumnDef="thirtyonetosixty">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "31-60" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRangeValue(element,2) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.thirtyonetosixty  }}</td>
          </ng-container>
          <ng-container matColumnDef="sixtyonetoninety">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "61-90" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRangeValue(element,3) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.sixtyonetoninety  }}</td>
          </ng-container>
          <ng-container matColumnDef="aboveninety">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "فوق 90" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getRangeValue(element,4) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.aboveninety  }}</td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "الإجمالي" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              {{ getvaluedue(element) }}
            </td>
            <td mat-footer-cell *matFooterCellDef class="bg-light">{{ TotalSum.total  }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="projectDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: projectDisplayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="projectDisplayedColumns"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25,projectsDataSource.data.length]"> </mat-paginator>
    </div>
  
    <div id="report" [ngStyle]="{ direction: lang == 'ar' ? 'rtl' : 'ltr' }" style="position: absolute;">
      <!--Header-->
      <div
        class="report-header"
        style="
          display: flex;
          align-items: center;
          gap: 100px;
          padding: 3px 0px;
          margin-bottom: 20px;
        "
      >
        <div class="headerNe-right-side">
          <img
          src="{{environmentPho}}"
            alt="logo"
            style="height: 200px; width: 200px; max-width: 200px; object-fit: fill"
          />
        </div>
  
        <div class="headerNe-lefy-side" style="width: 100%">
          <h1
            style="
              letter-spacing: 0.25px;
              font-size: 23px;
              margin: 0;
              margin-bottom: 5px;
            "
          >
          {{OrganizationData?.nameAr}}
          </h1>
          <h1
            style="
              letter-spacing: 0.25px;
              font-size: 23px;
              margin: 0;
              margin-bottom: 5px;
            "
          >
          {{OrganizationData?.nameEn}}
          </h1>
          <div class="line" style="position: relative; padding: 5px 0px 10px">
            <span
              style="
                position: absolute;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #e5e5e5;
                z-index: 1;
              "
            ></span>
            <span
              style="
                position: absolute;
                right: 0;
                width: 70%;
                height: 2px;
                background-color: #ec1c24;
                z-index: 2;
              "
            ></span>
          </div>
  
          <h1
            style="
              margin-bottom: 0;
              font-size: 34px;
              color: #0c8191;
              margin-bottom: 0;
              margin-top: 30px;
              font-weight: 500;
            "
            [translate]="'name'"
            [translateParams]="{
              ar: 'جدول أعمار الديون',
              en: 'Debt aging schedule'
            }"
          ></h1>
        </div>
      </div>
      <!--/Header-->
  
      <div style="margin-bottom: 10px">
        <p>
          <span
            [translate]="'name'"
            [translateParams]="{
              ar: 'التاريخ: ',
              en: 'Date: '
            }"
          ></span>
          <span> {{dateprint}} </span>
        </p>
      </div>
      <div style="margin-bottom: 10px ;text-align: center;"  *ngIf="data.filter.enable == true">
        <p>
          <span
            [translate]="'name'"
            [translateParams]="{
              ar: 'من تاريخ: ',
              en: 'From Date: '
            }"
          ></span>
          <span> {{data.filter.DateFrom_P}} </span>
          <span
            [translate]="'name'"
            [translateParams]="{
              ar: 'الي تاريخ: ',
              en: 'To Date: '
            }"
          ></span>
          <span> {{data.filter.DateTo_P}} </span>
        </p>
      </div>
      <div style="margin-bottom: 10px ;text-align: center;" >
      <p>
        <span
          [translate]="'name'"
          [translateParams]="{
            ar: ' الفرع: ',
            en: 'Branch: '
          }"
        ></span>
        <span> {{BranchName}} </span>
 
      </p>
    </div>
  
      <div class="services" style="width: 100%; margin-bottom: 20px">
        <div class="content">
          <table style="text-align: center; vertical-align: middle; width: 100%">
            <thead>
              <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "أسم العميل" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "رقم الفاتورة" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #f7f7f7;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "التاريخ" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #f7f7f7;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "الفرع" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "قيمة الفاتورة" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "المبلغ المحصل" | translate }}</td>
              <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "المردودات" | translate }}</td>
                <td
                style="
                  font-size: 16px;
                  background-color: #fff;
                  padding: 14px 4px;
                  text-align: center;
                  color: #272727;
                  word-wrap: break-word;
                  border-inline-start: 1px dashed #0c8191;
                  border: 1px dashed #272727;
                  font-weight: 600;
                "
              >{{ "تاريخ الاستحقاق" | translate }}</td>
              <td
              style="
                font-size: 16px;
                background-color: #fff;
                padding: 14px 4px;
                text-align: center;
                color: #272727;
                word-wrap: break-word;
                border-inline-start: 1px dashed #0c8191;
                border: 1px dashed #272727;
                font-weight: 600;
              "
            >{{ "المبلغ المستحق" | translate }}</td>
              <td
              style="
                font-size: 16px;
                background-color: #fff;
                padding: 14px 4px;
                text-align: center;
                color: #272727;
                word-wrap: break-word;
                border-inline-start: 1px dashed #0c8191;
                border: 1px dashed #272727;
                font-weight: 600;
              "
            >{{ "عمر الدين" | translate }}</td>
            <td
            style="
              font-size: 16px;
              background-color: #fff;
              padding: 14px 4px;
              text-align: center;
              color: #272727;
              word-wrap: break-word;
              border-inline-start: 1px dashed #0c8191;
              border: 1px dashed #272727;
              font-weight: 600;
            "
          >{{ "لم يستحق بعد" | translate }}</td>
          <td
          style="
            font-size: 16px;
            background-color: #fff;
            padding: 14px 4px;
            text-align: center;
            color: #272727;
            word-wrap: break-word;
            border-inline-start: 1px dashed #0c8191;
            border: 1px dashed #272727;
            font-weight: 600;
          "
        >{{ "1-30" | translate }}</td>
          <td
          style="
            font-size: 16px;
            background-color: #fff;
            padding: 14px 4px;
            text-align: center;
            color: #272727;
            word-wrap: break-word;
            border-inline-start: 1px dashed #0c8191;
            border: 1px dashed #272727;
            font-weight: 600;
          "
        >{{ "31-60" | translate }}</td>
          <td
          style="
            font-size: 16px;
            background-color: #fff;
            padding: 14px 4px;
            text-align: center;
            color: #272727;
            word-wrap: break-word;
            border-inline-start: 1px dashed #0c8191;
            border: 1px dashed #272727;
            font-weight: 600;
          "
        >{{ "61-90" | translate }}</td>
            <td
            style="
              font-size: 16px;
              background-color: #fff;
              padding: 14px 4px;
              text-align: center;
              color: #272727;
              word-wrap: break-word;
              border-inline-start: 1px dashed #0c8191;
              border: 1px dashed #272727;
              font-weight: 600;
            "
          >{{ "فوق 90" | translate }}</td>
          <td
          style="
            font-size: 16px;
            background-color: #fff;
            padding: 14px 4px;
            text-align: center;
            color: #272727;
            word-wrap: break-word;
            border-inline-start: 1px dashed #0c8191;
            border: 1px dashed #272727;
            font-weight: 600;
          "
        >{{ "الإجمالي" | translate }}</td>
            </thead>
            <tbody>
              <tr *ngFor="let item of printprojectsDataSource">
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.customerName}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.invoiceNumber}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.invoiceDate}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.branchName}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.invoiceValue }}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{item.valueCollect}}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{item.retinvoiceValue}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{item.accDate}}
                </td>
                <td
                  style="
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    padding: 10px 0px;
                    color: #272727;
                    border-inline-start: 1px dashed #272727;
                  border: 1px dashed #272727;
                    border-bottom: 1px dashed #272727;
                  "
                >
                {{getvaluedue(item)}}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{item.daysV }}
                </td>


                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getRangeValue(item,0) }}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getRangeValue(item,1) }}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getRangeValue(item,2) }}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getRangeValue(item,3) }}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getRangeValue(item,4)}}
                </td>
                <td
                style="
                  background-color: #fff;
                  font-size: 15px;
                  font-weight: 500;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
                >
                {{getvaluedue(item) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  