.project-box {
  @apply bg-base bg-opacity-5 text-base rounded-lg p-2 duration-300 hover:bg-opacity-100 hover:bg-white;
}
.endNotice {
  width: 300px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 100%;
  }
}

.endProject {
  label {
    display: block;
    margin-bottom: 20px;
  }

  ::ng-deep {
    .mat-radio-button {
      margin-inline-end: 15px;
    }
  }
}

::ng-deep {
  .nav-tabs {
    width: max-content;
    .nav-item {
      .nav-link {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray-color);
      }
    }
  }

  .mat-radio-button {
    margin-inline-end: 20px;
  }
}

textarea {
  &:focus-visible {
    outline: none;
  }
}

::ng-deep {
  .apexcharts-legend {
    display: none !important;
  }
}
.info {
  @media (max-width: 1200px) {
    position: relative !important;
    margin-bottom: 22px !important;
    flex-wrap: wrap !important;
  }
}

.content {
  padding-top: 30px;
  min-height: 400px;

  .customLabel {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.lated-value {
  padding: 12px;
  background-color: #ced4da;
  font-size: 17px;
  color: #c9192a;
  font-weight: 800;
  border-radius: 5px;
}

.project-status-info .progress-bar {
  font-size: 18px;
}

.uploadingIcon {
  width: 30px;
  height: 28px;
  object-fit: contain;
  padding: 5px;
  display: block !important;
  border: 1px solid var(--base-color);
  border-radius: 0.25rem;
}
.checkbox-content {
  width: 75px;
  height: 30px;
  border-radius: 50px;

  &.ltr {
    .box {
      flex-direction: row-reverse;
      // &.checked {
      //   .cycle {
      //     // transform: translateX(-110%) !important;
      //     transform: translateX(170%) !important;

      //     // &::after {
      //     //   content: "تمت";
      //     // }
      //   }
      // }

      // &.blur {
      //   .cycle {
      //     transform: translateX(10%) !important;

      //     // &::after {
      //     //   content: "لم تتم";
      //     // }
      //   }
      // }
    }
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    inset-inline-start: 0;
  }

  .box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    // background: rgb(227, 227, 227);
    background-color: var(--gray-bg-color);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 1px 1px #e3e3e3;
    filter: none !important;

    span {
      color: #444;
      font-size: 9px;
      font-weight: bold;
      letter-spacing: unset;
      word-wrap: break-word;
      top: 50%;
      transform: translateY(-50%);
      max-width: 50%;

      &:first-of-type {
        left: 4px;
      }

      &:last-of-type {
        right: 4px;
      }
    }

    .cycle {
      width: 26px;
      height: 26px;
      margin: 0px 2px;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      background: var(--base-color);
    }

    .cycle {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    &.checked {
      .cycle {
        // transform: translateX(-110%) !important;
        transform: translateX(-170%) !important;

        // &::after {
        //   content: "تمت";
        // }
      }
    }

    &.blur {
      .cycle {
        transform: translateX(-10%) !important;

        // &::after {
        //   content: "لم تتم";
        // }
      }
    }
  }
}

.checkbox-contentCustom {
  width: 110px;
  height: 30px;
  border-radius: 50px;

  &.ltr {
    .box {
      flex-direction: row-reverse;
    }
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    inset-inline-start: 0;
  }

  .box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    // background: rgb(227, 227, 227);
    background-color: var(--gray-bg-color);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 1px 1px #e3e3e3;
    filter: none !important;

    span {
      color: #444;
      font-size: 9px;
      font-weight: bold;
      letter-spacing: unset;
      word-wrap: break-word;
      top: 50%;
      transform: translateY(-50%);
      max-width: 50%;

      &:first-of-type {
        left: 4px;
      }

      &:last-of-type {
        right: 4px;
      }
    }

    .cycle {
      width: 26px;
      height: 26px;
      margin: 0px 2px;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;
      background: var(--base-color);
    }

    .cycle {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    &.checked {
      .cycle {
        transform: translateX(-290%) !important;
        background-color: rgb(90, 200, 47) !important;
      }
    }

    &.blur {
      .cycle {
        transform: translateX(-10%) !important;
        background-color: #f00 !important;

      }
    }
  }

  .stats {
    margin-bottom: 0 !important;
    .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      line-height: 1.7em;
      margin-bottom: 25px;
  
      i {
        font-size: 40px;
        margin-bottom: 10px;
        color: var(--base-color);
      }
      span {
        &.num {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        &.status {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 0px;
          color: var(--base-color);
        }
      }
    }
  }
  
  .table {
    .statusCell {
      min-width: 250px;
      height: 50px;
      .from,
      .to {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: start;
        justify-content: space-between;
      }
      .status {
        min-width: 150px;
        height: 25px;
        background-color: rgb(180, 0, 0);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 5px 0px;
        font-size: 13px;
      }
    }
    // button {
    //   padding: 12px !important;
    //   margin: 3px !important;
    // }
  }
  
  .endProject {
    label {
      display: block;
      margin-bottom: 20px;
    }
  
    ::ng-deep {
      .mat-radio-button {
        margin-inline-end: 15px;
      }
    }
  }

  .statusCell {
    min-width: 250px;
    height: 50px;
    .from,
    .to {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: start;
      justify-content: space-between;
    }
    .status {
      min-width: 150px;
      height: 25px;
      background-color: rgb(180, 0, 0);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 5px 0px;
      font-size: 13px;
    }
  }

  .statuss {
    min-width: 150px;
    height: 25px;
    background-color: rgb(180, 0, 0);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 0px;
    font-size: 13px;
  }
}


