<div class="staff-holidays">
    <app-navigator [title]="title"></app-navigator>
    <div class="head flex flex-column gap-4 flex-wrap items-start justify-start">
      <div class="btns">
        <button  *ngIf="userG?.userPrivileges.includes(142102)"
          type="button"
          class="btn bg-base text-white"
          (click)="open(addNewPermission, null, 'add')"
        >
          {{ "new request" | translate }}
        </button>
      
  
         <!--<button
          type="button"
          class="btn bg-base text-white"
          (click)="open(followVacationsModal, null, 'followVacations')"
        >
          {{ "Follow up on vacations" | translate }}
        </button>-->
      </div> 
  
       <div class="flex gap-2 flex-wrap items-end">
        <div class="max-w-xs flex-grow">
          <label class="col-form-label"> {{ "Employee Name" | translate }}</label>
          <ng-select
            class="w-full p-0"
            placeholder="{{ 'Chose' | translate }}"
            [(ngModel)]="employeeid"
            (ngModelChange)="GetAllPermissions()"
            [ngModelOptions]="{ standalone: true }"
          >
            <ng-option *ngFor="let user of employeeselect" [value]="user.id">{{
              user.name
            }}</ng-option>
          </ng-select>
        </div>
  
        <div class="max-w-xs flex-grow">
          <label class="col-form-label">
            {{ "نوع الاذن" | translate }}</label
          >
          <ng-select
            class="w-full p-0"
            placeholder="{{ 'Chose' | translate }}"
            [(ngModel)]="type"
            (ngModelChange)="GetAllPermissions()"
            [ngModelOptions]="{ standalone: true }"
          >
            <ng-option
              *ngFor="let user of Permissiontypeselect"
              [value]="user.id"
              >{{ user.name }}</ng-option
            >
          </ng-select>
        </div>
  
        <div class="max-w-xs flex-grow">
          <label class="col-form-label"> {{ "حالة الاذن " | translate }}</label>
          <ng-select
            class="w-full p-0"
            placeholder="{{ 'Chose' | translate }}"
            [(ngModel)]="status"
            (ngModelChange)="GetAllPermissions()"
            [ngModelOptions]="{ standalone: true }"
          >
            <ng-option
              *ngFor="let user of permissionstatusselect"
              [value]="user.id"
              >{{ user.name }}</ng-option
            >
          </ng-select>
        </div>
  
     
  
        <div class="flex items-center gap-2 mx-3" style="margin-bottom: 10px">
          <input
            type="checkbox"
            name="dateSearch"
            id="dateSearch"
            (change)="showDate = !showDate"
          />
          <label for="dateSearch" class="mb-0">{{ "date" | translate }}</label>
        </div>
  
  
        <div class="form-group timeInput" *ngIf="showDate">
          <label class="col-form-label">{{ "Chose Date" | translate }}</label>
  
          <input
            placeholder="{{ 'Chose Date' | translate }}"
            [(ngModel)]="data.filter.date"
            type="text"
            (ngModelChange)="CheckDate($event)"
            class="form-control"
            bsDaterangepicker
            #dpr="bsDaterangepicker"
            style="min-width: 300px"
          />
        </div>
      </div> 
    </div>
  
    <div class="tables-data mt-3 overflow-hidden">
      <!-- table -->
      <input
        (keyup)="applyFilter($event)"
        class="form-control mb-3"
        style="max-width: 300px"
        #input
        placeholder="{{ 'search' | translate }}"
      />
      <div class="overflow-auto">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
        >
          <!-- employeName column -->
          <ng-container matColumnDef="employeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "Employee Name" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element?.employeName }}</span>
            </td>
          </ng-container>
          <!-- vacationType column -->
          <ng-container matColumnDef="vacationType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "نوع الاذن" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element?.permissionTypeName }}</span>
            </td>
          </ng-container>
          <!-- vacationStatus column -->
          <ng-container matColumnDef="vacationStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "حالة الاذن " | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element?.statusName }}</span>
            </td>
          </ng-container>
          <!-- manager column -->
          <ng-container matColumnDef="manager">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>{{ "decision maker" | translate }}</span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element?.acceptUser }}</span>
            </td>
          </ng-container>
          <!-- from column -->
          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span>
                {{ "Date" | translate }}
              </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <span>{{ element?.date | date : "dd-MM-yyyy" }}</span>
            </td>
          </ng-container>
     
  
          <ng-container matColumnDef="operations">
            <th
              mat-header-cell
              *matHeaderCellDef
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
            <td mat-cell *matCellDef="let element">
              <div class="flex gap-1 justify-center py-2">
               
                
  
                <button
                  *ngIf="
                    element?.status == 1 && element.permissionType != 1
                  "
                  class="p-2 bg-blue-100 hover:bg-blue-500 rounded-lg duration-300 hover:text-white w-10"
                  (click)="open(transformToManager, element, 'Converttoadmin')"
                >
                  <i class="fa-solid fa-right-left"></i>
                </button>
  
  
                <button
                  class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white w-10"
                  (click)="open(deleteModal, element, 'delete')"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
                <span class="dtr-data">
                  <button
                    type="button"
                    id="68"
                    class="AddNewTaskbtn btn btn-outline-success btn-sm waves-effect mx-1"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=" طباعة "
                    data-original-title="طباعة "
                    (click)="setdatatoprint(element); PrintVacation()"
                  >
                    <i class="fa-solid fa-print"></i>
                  </button>
                </span>
              </div>
            </td>
          </ng-container> 


  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="duration-300 hover:bg-slate-100"
          ></tr>
  
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              {{ "noResult" | translate }} "{{ input.value }}"
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 100]"> </mat-paginator>
    </div>


    <div style="display: none">
      <div
         id="reportpermission"
         [ngStyle]="{ direction: lang == 'ar' ? 'rtl' : 'ltr' }"
       >
         <div
           class="report-header"
           style="
             display: flex;
             align-items: center;
             gap: 100px;
             padding: 3px 0px;
             margin-bottom: 20px;
           "
         >
           <div class="headerNe-right-side">
             <img
               *ngIf="logourl"
               src="{{ logourl }}"
               alt="logo"
               style="
                 height: 200px;
                 width: 200px;
                 max-width: 200px;
                 object-fit: fill;
               "
             />
           </div>
   
           <div class="headerNe-lefy-side" style="width: 100%">
             <h1
               style="
                 letter-spacing: 0.25px;
                 font-size: 23px;
                 margin: 0;
                 margin-bottom: 3px;
               "
             >
               {{ userG?.companyName }}
             </h1>
             <div class="line" style="position: relative; padding: 5px 0px 10px">
               <span
                 style="
                   position: absolute;
                   right: 0;
                   width: 100%;
                   height: 2px;
                   background-color: #e5e5e5;
                   z-index: 1;
                 "
               ></span>
               <span
                 style="
                   position: absolute;
                   right: 0;
                   width: 70%;
                   height: 2px;
                   background-color: #ec1c24;
                   z-index: 2;
                 "
               ></span>
             </div>
   
             <h1
               style="
                 margin-bottom: 0;
                 font-size: 34px;
                 color: #0c8191;
                 margin-bottom: 0;
                 margin-top: 30px;
                 font-weight: 500;
               "
               [translate]="'name'"
               [translateParams]="{
                 ar: ' طلب إذن',
                 en: 'Permission Request'
               }"
             ></h1>
           </div>
         </div>
   
         <div style="margin-bottom: 10px">
           <p>
             <span
               [translate]="'name'"
               [translateParams]="{
                 ar: 'التاريخ: ',
                 en: 'Date: '
               }"
             ></span>
             <span> {{ datePrintJournals }}</span>
           </p>
         </div>
   
         <div class="services" style="width: 100%; margin-bottom: 10px">
           <div class="content">
             <span style="font-size: 18px; font-weight: bold">بيانات الموظف</span>
             <table
               style="text-align: center; vertical-align: middle; width: 100%"
             >
               <thead>
                 <td
                   style="
                     font-size: 16px;
                     background-color: #fff;
                     padding: 14px 4px;
                     text-align: center;
                     color: #272727;
                     word-wrap: break-word;
                     border-inline-start: 1px dashed #0c8191;
                     border: 1px dashed #272727;
                     font-weight: 600;
                   "
                 >
                   رقم الموظف
                 </td>
                 <td
                   style="
                     font-size: 16px;
                     background-color: #fff;
                     padding: 14px 4px;
                     text-align: center;
                     color: #272727;
                     word-wrap: break-word;
                     border-inline-start: 1px dashed #0c8191;
                     border: 1px dashed #272727;
                     font-weight: 600;
                   "
                 >
                   اسم الموظف
                 </td>
                 <td
                   style="
                     font-size: 16px;
                     background-color: #f7f7f7;
                     padding: 14px 4px;
                     text-align: center;
                     color: #272727;
                     word-wrap: break-word;
                     border-inline-start: 1px dashed #0c8191;
                     border: 1px dashed #272727;
                     font-weight: 600;
                   "
                 >
                   الوظيفه
                 </td>
                 <td
                   style="
                     font-size: 16px;
                     background-color: #f7f7f7;
                     padding: 14px 4px;
                     text-align: center;
                     color: #272727;
                     word-wrap: break-word;
                     border-inline-start: 1px dashed #0c8191;
                     border: 1px dashed #272727;
                     font-weight: 600;
                   "
                 >
                   رقم الهويه
                 </td>
                 <td
                   style="
                     font-size: 16px;
                     background-color: #fff;
                     padding: 14px 4px;
                     text-align: center;
                     color: #272727;
                     word-wrap: break-word;
                     border-inline-start: 1px dashed #0c8191;
                     border: 1px dashed #272727;
                     font-weight: 600;
                   "
                 >
                   الفرع
                 </td>
               </thead>
               <tbody>
                 <tr>
                   <td
                     style="
                       background-color: #fff;
                       font-size: 15px;
                       font-weight: 500;
                       padding: 10px 0px;
                       color: #272727;
                       border-inline-start: 1px dashed #272727;
                       border-bottom: 1px dashed #272727;
                     "
                   >
                     {{ printmodel.employeeNo }}
                   </td>
                   <td
                     style="
                       background-color: #fff;
                       font-size: 15px;
                       font-weight: 500;
                       padding: 10px 0px;
                       color: #272727;
                       border-inline-start: 1px dashed #272727;
                       border-bottom: 1px dashed #272727;
                     "
                   >
                     {{ printmodel.employeeName }}
                   </td>
                   <td
                     style="
                       background-color: #fff;
                       font-size: 15px;
                       font-weight: 500;
                       padding: 10px 0px;
                       color: #272727;
                       border-inline-start: 1px dashed #272727;
                       border-bottom: 1px dashed #272727;
                     "
                   >
                     {{ printmodel.employeeJob }}
                   </td>
                   <td
                     style="
                       background-color: #fff;
                       font-size: 15px;
                       font-weight: 500;
                       padding: 10px 0px;
                       color: #272727;
                       border-inline-start: 1px dashed #272727;
                       border-bottom: 1px dashed #272727;
                     "
                   >
                     {{ printmodel.nationalitiId }}
                   </td>
                   <td
                     style="
                       background-color: #fff;
                       font-size: 15px;
                       font-weight: 500;
                       padding: 10px 0px;
                       color: #272727;
                       border-inline-start: 1px dashed #272727;
                       border-bottom: 1px dashed #272727;
                       border-left: 1px dashed #272727;
                     "
                   >
                     {{ printmodel.branchName }}
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
   
         <div class="services" style="width: 100%; margin-bottom: 10px">
           <div class="content">
             <span style="font-size: 18px; font-weight: bold">بيانات الطلب</span>
             <table
               style="text-align: center; vertical-align: middle; width: 100%"
             >
               <thead>
                 <tr>
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     نوع الاذن
                   </td>
   
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     {{ printmodel.type }}
                   </td>
                 </tr>
                 <tr>
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                      تاريخ الاذن
                   </td>
   
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     {{ printmodel.date }}
                   </td>
                 </tr>
                 <tr>
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     حالة الاذن
                   </td>
   
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                   {{ printmodel.status }}
                   </td>
                 </tr>
               </thead>
             </table>
           </div>
         </div>
   
         <div class="services" style="width: 100%; margin-bottom: 10px">
           <div class="content">
             <span style="font-size: 18px; font-weight: bold">قرار الادارة</span>
             <table
               style="text-align: center; vertical-align: middle; width: 100%"
             >
               <thead>
                 <tr>
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     قرار الادارة
                   </td>
   
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     {{ printmodel.status }}
                   </td>
                 </tr>
   
                 <tr>
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                     مبرر القرار
                   </td>
   
                   <td
                     style="
                       font-size: 16px;
                       background-color: #fff;
                       padding: 14px 4px;
                       text-align: center;
                       color: #272727;
                       word-wrap: break-word;
                       border-inline-start: 1px dashed #0c8191;
                       border: 1px dashed #272727;
                       font-weight: 600;
                     "
                   >
                   <span *ngIf="printmodel?.isDiscount == true"
                   >  {{ printmodel.reason }}</span
                 >
                 <span *ngIf="printmodel?.isDiscount == false"
                 >{{ printmodel.reason }}</span
                 >
                   </td>
                 </tr>
               </thead>
             </table>
   
             <div
               style="
                 display: grid;
                 grid-template-columns: auto auto auto auto;
                 padding-top: 20px;
               "
               class="text-center"
             >
               <div class="grid-item">
                 <p>
                   اعتماد الادارة<br />{{ printmodel.acceptedUser
                   }}<br />......................................
                   <br />
                   <br />
                   <span>التاريخ :</span> {{ printmodel.acceptedDate }}
                 </p>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

  
  </div>
<ng-template #addNewPermission let-modal>
    <div
      style="background-color: var(--base-color)"
      class="modal-header text-white flex justify-between items-center"
    >
      <h4 class="modal-title mb-0" id="modal-basic-title">
        <span *ngIf="modalDetails?.id">{{
          "editVacationRequest" | translate
        }}</span>
  
        <span *ngIf="!modalDetails?.id">{{
          "newVacationRequest" | translate
        }}</span>
      </h4>
      <button
        type="button"
        class="text-white m-0"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="fa fa-close"></i>
      </button>
    </div>
  
    <div class="modal-body">
      <form #form="ngForm">
        <div class="row items-end">
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="form-group">
              <label class="col-form-label">
                {{ "Employee Name" | translate }}</label
              >
              <ng-select
                class="w-full p-0"
                placeholder="{{ 'Chose' | translate }}"
                [(ngModel)]="modalDetails.employeeId"
                [ngModelOptions]="{ standalone: true }"
                name="user"
              >
                <ng-option
                  *ngFor="let user of employeeworkerselect"
                  [value]="user.id"
                  >{{ user.name }}</ng-option
                >
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="form-group">
              <label class="col-form-label">
                {{ "نوع الاذن" | translate }}</label
              >
              <ng-select
                class="w-full p-0"
                placeholder="{{ 'Chose' | translate }}"
                [(ngModel)]="modalDetails.permissionType"
                [ngModelOptions]="{ standalone: true }"
                name="user"
              >
                <ng-option
                  *ngFor="let user of Permissiontypeselect"
                  [value]="user.id"
                  >{{ user.name }}</ng-option
                >
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="form-group">
              <label class="text-right col-form-label block">
                {{ "تاريخ الاذن" | translate }}
              </label>
              <div class="form-group timeInput">
                <input
                  [(ngModel)]="modalDetails.date"
                  name="date"
                  type="text"
                  class="form-control"
                  bsDatepicker
                />
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-3">
            <div class="form-group">
              <label class="text-right col-form-label block">
                {{ "السبب" | translate }}
              </label>
              <div class="form-group timeInput">
                <input
                  [(ngModel)]="modalDetails.reason"
                  name="reason"
                  type="text"
                  class="form-control"
                  
                />
              </div>
            </div>
          </div>
  
          
        </div>
      </form>
      <div class="d-flex items-center justify-end gap-3 mt-4">
        <button
          type="button"
          class="btn bg-base text-white"
          [disabled]="form.invalid"
          (click)="open(saveModal,modal,'saveperm')"
        >
          {{ modalDetails?.id ? ("edit" | translate) : ("add" | translate) }}
        </button>
  
        <button (click)="modal?.dismiss()" class="btn btn-outline-secondary">
          {{ "close" | translate }}
        </button>
      </div>
    </div>
  </ng-template>

  
<ng-template #saveModal let-modal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد الحفظ',
          en: 'Are you sure to save ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          class="btn bg-base text-white"
          (click)="SavePermission(modal);"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="modal.dismiss()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


  <!-- transformToManager -->
<ng-template #transformToManager let-modal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل انت متأكد من التحويل الي الادارة؟',
          en: 'Are you sure to transfer to administration?'
        }"
      ></p>
      <div class="flex gap-2 justify-center mt-4">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="ConvertToAdmin(); modal.dismiss()"
        >
          {{ "confirem" | translate }}
        </button>
        <button
          type="button"
          (click)="modal.dismiss()"
          mat-raised-button
          color="basic"
        >
          {{ "close" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


  <!-- deleteModal -->
<ng-template #deleteModal let-modal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد بالتأكيد حذف هذا الصف',
          en: 'Are you sure to delete this row ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="delete(); modal.dismiss()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="modal.dismiss()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>