::ng-deep {
  .mat-paginator-container {
    justify-content: space-between !important;
    padding: 15px 10px 0px !important;
  }
  .mat-paginator-range-actions {
    direction: inherit !important;
  }
  .mat-paginator-range-label {
    direction: initial;
  }
}

.endProject {
  label {
    display: block;
    margin-bottom: 20px;
  }

  ::ng-deep {
    .mat-radio-button {
      margin-inline-end: 15px;
    }
  }
}
