<div class="retrive-password">
  <div class="container">
    <div class="retrive-password-info rounded bg-body">
      <div class="head text-center">
        <img
          src="{{ environmenturl + OrganizationData?.logoUrl }}"
          alt="logo"
          class="d-inline-block mb-3 img-fluid"
        />
        <!-- <h2>{{ "authTitle1" | translate }}</h2>
      <p>{{ "authTitle2" | translate }}</p> -->
      </div>
      <form #form="ngForm">
        <div class="form-input">
          <img src="/assets/images/ic_perm_identity_24px.png" alt="user icon" />

          <input
            type="text"
            name="user_name"
            placeholder="{{ 'userName' | translate }}    "
            ngModel
            #user_name="ngModel"
            required
            minlength="4"
            autocomplete="off"
          />
          <span
            class="text-danger"
            *ngIf="user_name.hasError('required') && user_name.touched"
            >{{ "requiredError" | translate }}
          </span>
          <span
            class="text-danger"
            *ngIf="
              user_name.hasError('minlength') &&
              !user_name.hasError('required') &&
              user_name.touched
            "
            >{{ "userNameError" | translate }}
          </span>
        </div>

        <div class="form-input">
          <img src="/assets/images/ic_mail_outline_24px.png" alt="user icon" />

          <input
            type="text"
            name="email"
            placeholder="{{ 'email' | translate }}   "
            ngModel
            #email="ngModel"
            required
            email
            autocomplete="off"
          />
          <span
            class="text-danger"
            *ngIf="email.hasError('required') && email.touched"
            >{{ "requiredError" | translate }}
          </span>
          <span
            class="text-danger"
            *ngIf="
              email.hasError('email') &&
              !email.hasError('required') &&
              email.touched
            "
            >{{ "emailError" | translate }}
          </span>
        </div>

        <button
          class="btn btn-outline-secondary retrive-password-btn"
          [disabled]="form.invalid"
          (click)="send(form.value)"
        >
          {{ "send" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
