<div class="general-journal">
  <app-navigator [title]="title"></app-navigator>
  <!-- inputs -->
  <div class="container-fluid">
    <form #form="ngForm" class="bg-blue-100 p-4 mt-3 rounded-lg">
      <div class="row align-items-center">
      <div class="col-xxl-3 col-md-4 col-sm-6 mb-3">
        <button class="btn btn-primary" (click)="data.filter.enable = !data.filter.enable;CheckDate(null)" [translate]="'name'"
          [translateParams]="{
                    ar: 'فلترة بالوقت',
                    en: 'Time Filter'
                  }"></button>
        <div class="form-group timeInput" *ngIf="data.filter.enable">
          <input placeholder="{{ 'Chose Date' | translate }}"
          [ngModelOptions]="{standalone: true}" [(ngModel)]="data.filter.date" type="text" (ngModelChange)="CheckDate($event)"
            class="form-control" bsDaterangepicker #dpr="bsDaterangepicker" />
        </div>
      </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3">
          <div class="form-group">
            <ng-select class="w-full p-0" style="min-width: 250px !important" placeholder="{{ 'choose level' | translate }}"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="data.filter.choseid" name="Chose">
              <ng-option *ngFor="let user of ChoseList" [value]="user.id">{{
                user.name
                }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3" style="display: none;">
          <div class="form-group" >
            <ng-select class="w-full p-0" style="min-width: 250px !important"
            [ngModelOptions]="{standalone: true}"[(ngModel)]="data.filter.filteringType"placeholder="{{ 'Filter type' | translate }}"
              (change)="FillFilteringSelect();">
              <ng-option *ngFor="let user of filteringTypeList" [value]="user.id">{{
                user.name
                }}</ng-option>
            </ng-select>
          </div>

        </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3" style="display: none;">
          <div class="form-group">
            <ng-select class="w-full p-0" style="min-width: 250px !important"
            [ngModelOptions]="{standalone: true}" [multiple]="true"
            [(ngModel)]="data.filter.FilteringTypeStr">
              <ng-option *ngFor="let user of FilteringTypeStrList" [value]="user.id">{{
                user.name
                }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3" style="display: none;">
          <div class="form-group">
            <!-- <label class="col-form-label"> {{ "accountName" | translate }}</label> -->
            <ng-select
              class="w-full p-0"
              placeholder="{{ 'accountName' | translate }}"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="data.filter.search_accountId"
              name="accountName"
            >
              <ng-option *ngFor="let user of load_accountIds" [value]="user.id">{{
                user.name
              }}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3">
          <div class="form-group">
              <ng-select
              class="w-full p-0"
              placeholder="{{ 'Cost Center' | translate }}"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="data.filter.costCenter"
              name="withCostCenter"
            >
              <ng-option *ngFor="let user of load_costCenters" [value]="user.id">{{user.name}}</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3">
          <div class="form-group">
            <!-- <label class="col-form-label"> {{ "search" | translate }}</label> -->

            <input type="text "
            placeholder="{{ 'search' | translate }}"
            class="w-full p-2 inputType"autocomplete="off" name="search" (keyup)="applyFilter($event)"/>
          </div>
        </div>

        <div class="col-xxl-3 col-md-4 col-sm-6 mb-3" style="display: none;">
          <div class="form-check form-switch position-relative mb-2">
            <input
              class="form-check-input position-absolute end-25"
              type="checkbox"
              role="switch"
              [checked]="showTable"
              id="flexSwitchCheckDefault"
              (change)="showTable = !showTable"
            />
            <label
              class="form-check-label me-5"
              for="flexSwitchCheckDefault"
              style="width: max-content"
            >
              {{ "monitor" | translate }}
              <i class="fa-solid fa-magnifying-glass"></i>
            </label>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-check form-switch position-relative mb-2">
            <input
              class="form-check-input position-absolute end-25"
              type="checkbox"
              role="switch"
              [checked]="showTablezeroCheck"
              id="flexSwitchCheckDefault3"
              (change)="showTablezeroCheck = !showTablezeroCheck;"
            />
            <label
              class="form-check-label me-5"
              for="flexSwitchCheckDefault3"
              style="width: max-content"
            >
              {{ "DoNotShowZeroAccounts" | translate }}
            </label>
          </div>
        </div>
        <div  class="col-md-2">
            <div class="form-check form-switch position-relative mt-2 mb-2">
              <input
                class="form-check-input position-absolute end-25"
                type="checkbox"
                role="switch"
                [checked]="data.filter.isCheckedBranch"
                id="flexSwitchCheckDefault"
                (change)="data.filter.isCheckedBranch = !data.filter.isCheckedBranch;"
              />
              <label
                class="form-check-label me-5"
                for="flexSwitchCheckDefault"
                style="width: max-content"
              >
                {{ "فصل الفروع" | translate }}
              </label>
            </div>
          </div>

        <div style="display: none;" class="col-md-2" *ngIf="userG?.userPrivileges.includes(131905)">
          <div class="form-check form-switch position-relative">
            <input
              class="form-check-input position-absolute end-25"
              type="checkbox"
              role="switch"
              [checked]="data.filter.isCheckedYear"
              id="isCheckedYearCheckDefault"
              (change)="data.filter.isCheckedYear = !data.filter.isCheckedYear;"
            />
            <label
              class="form-check-label me-5"
              for="isCheckedYearCheckDefault"
              style="width: max-content"
            >
              {{ "كل السنوات المالية" | translate }}
            </label>
          </div>
        </div>

        <div style="display: none;"  class="col-md-8" *ngIf="data.filter.isCheckedYear">
          <div class="form-check form-switch position-relative">
            <p
            style="text-align: center;color: red;
              font-weight: bold;font-size: 14px;"
            class="p-1 bg-red-100">
            تنبيه ( فى حالة تفعيل السنوات المالية يرجى التأكد من عدم تدوير الأرصدة للحصول على نتائج دقيقة ) لانه في حالة التدوير سيضاف الختامى للسنة السابقة كأفتتاحى فى السنة الجديدة كعملية منفصلة
          </p>
          </div>
        </div>


      </div>
      <div class="head flex gap-2 flex-wrap items-end justify-between">
        <!-- all buttons  -->
        <div class="btns w-100">
          <div class="row d-md-flex justify-content-center">
            <button
              type="button"
              class="flex gap-1 btn btn-outline-secondary col-md-2"
              (click)="RefreshData()"
              >
              {{ "search" | translate }}
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <button
              type="button"
              class="flex gap-1 btn btn-outline-secondary border-0 col-md-2"
              (click)="reset()"
            >
              <i class="fa-solid fa-rotate-right"></i>
              {{ "Reset" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>

    <div>
      <h2 class="text-center mt-3">{{ "قائمة المركز المالي" | translate }}</h2>
      <div class="btns mb-3 w-100">
        <div class="row d-md-flex">
          <button
            type="button"(click)="getPrintdata('report')"
            class="flex gap-1 btn btn-outline-secondary mb-3 col-md-2"
          >
            {{ "Print" | translate }}
            <i class="fa-solid fa-print"></i>
          </button>

          <button
            type="button"
            class="flex gap-1 btn btn-success mb-3 col-md-2" (click)="exportData()"
          >
            {{ "exportExcel" | translate }}
          </button>
        </div>
      </div>

      <!-- table -->
      <div class="overflow-auto mt-4">
        <table class="w-100 bg-gray-100">
          <thead>
            <tr>
              <th class="px-4 py-2"></th>
              <th class="px-4 py-2" colspan="6"></th>
              <!-- <th class="px-4 py-2 text-center text-base fw-bold" colspan="2">
                {{ "InitialBalance" | translate }}
              </th>
              <th class="px-4 py-2 text-center text-base fw-bold" colspan="2">
                {{ "netTraffic" | translate }}
              </th>
              <th class="px-4 py-2 text-center text-base fw-bold" colspan="2">
                {{ "closingBalance" | translate }}
              </th> -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 w-25 text-base text-center fw-bold">
                {{ "account" | translate }}
              </td>
              <!-- <td class="border px-4 py-2 text-center bg-green-100">
                {{ "debtor" | translate }}
              </td>
              <td class="border px-4 py-2 text-center bg-red-100">
                {{ "Creditor" | translate }}
              </td>
              <td class="border px-4 py-2 text-center bg-green-100">
                {{ "debtor" | translate }}
              </td>
              <td class="border px-4 py-2 text-center bg-red-100">
                {{ "Creditor" | translate }}
              </td> -->
              <td class="border px-4 py-2 text-center bg-red-100">
                {{ "الرصيد" | translate }}
              </td>
            </tr>
            <tr *ngFor="let entry of projectsDataSource">
            <ng-container *ngIf="entry.accountId!=0">
              <td class="border px-4 py-2 fw-bold {{ backgroungColor(entry) }}">{{entry.accCode}}-{{ entry.acc_NameAr }}</td>
              <!-- <td class="border px-4 py-2" [ngClass]="{ 'monitorClick': showTable == true}"(click)="GetDetailsMonitor(entry,1)">{{ entry.ahDipet }}</td>
              <td class="border px-4 py-2" [ngClass]="{ 'monitorClick': showTable == true}"(click)="GetDetailsMonitor(entry,2)">{{ entry.ahCredit }}</td>
              <td class="border px-4 py-2" [ngClass]="{ 'monitorClick': showTable == true}"(click)="GetDetailsMonitor(entry,5)">{{ entry.netDebitTotal }}</td>
              <td class="border px-4 py-2" [ngClass]="{ 'monitorClick': showTable == true}"(click)="GetDetailsMonitor(entry,6)">{{ entry.netCreditTotal }}</td> -->
              <td style="text-align: center;" class="border px-4 py-2" [ngClass]="{ 'monitorClick': showTable == true}"(click)="GetDetailsMonitor(entry,7)">{{ entry.totalFinal }}</td>
            </ng-container>
            </tr>
            <ng-container *ngFor="let entry of projectsDataSource">
              <ng-container *ngIf="entry.accountId==0">
                <tr class="bg-blue-100 text-center">
                  <td style="background-color: #a2cad3;" class="border px-4 py-2">{{ "إجمالي الالتزمات وحقوق الملكية	" | translate }}</td>
                  <!-- <td class="border px-4 py-2">{{entry.ahDipet | number:'1.2-2' }}</td>
                  <td class="border px-4 py-2">{{entry.ahCredit | number:'1.2-2' }}</td>
                  <td class="border px-4 py-2">{{entry.netDebitTotal | number:'1.2-2' }}</td>
                  <td class="border px-4 py-2">{{entry.netCreditTotal | number:'1.2-2' }}</td> -->
                  <td style="text-align: center;" class="border px-4 py-2">{{entry.totalFinal | number:'1.2-2' }}</td>
                </tr>
              </ng-container>
            </ng-container>
            <tr *ngIf="projectsDataSource.length === 0">
              <td colspan="9" class="text-center p-2">لا توجد بيانات</td>
            </tr>
          </tbody>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[10, 25]"> </mat-paginator>
    </div>
  </div>
  <div id="report" [ngStyle]="{ direction: lang == 'ar' ? 'rtl' : 'ltr' }" style="position: absolute;">
    <!--Header-->
    <div
      class="report-header"
      style="
        display: flex;
        align-items: center;
        gap: 100px;
        padding: 3px 0px;
        margin-bottom: 20px;
      "
    >
      <div class="headerNe-right-side">
        <img
        src="{{environmentPho}}"
          alt="logo"
          style="height: 200px; width: 200px; max-width: 200px; object-fit: fill"
        />
      </div>

      <div class="headerNe-lefy-side" style="width: 100%">
        <h1
          style="
            letter-spacing: 0.25px;
            font-size: 23px;
            margin: 0;
            margin-bottom: 5px;
          "
        >
        {{OrganizationData?.nameAr}}
        </h1>
        <h1
          style="
            letter-spacing: 0.25px;
            font-size: 23px;
            margin: 0;
            margin-bottom: 5px;
          "
        >
        {{OrganizationData?.nameEn}}
        </h1>
        <div class="line" style="position: relative; padding: 5px 0px 10px">
          <span
            style="
              position: absolute;
              right: 0;
              width: 100%;
              height: 2px;
              background-color: #e5e5e5;
              z-index: 1;
            "
          ></span>
          <span
            style="
              position: absolute;
              right: 0;
              width: 70%;
              height: 2px;
              background-color: #ec1c24;
              z-index: 2;
            "
          ></span>
        </div>

        <h1
          style="
            margin-bottom: 0;
            font-size: 34px;
            color: #0c8191;
            margin-bottom: 0;
            margin-top: 30px;
            font-weight: bold;
          "
          [translate]="'name'"
          [translateParams]="{
            ar: 'ميزان المراجعة',
            en: 'Trial Balance'
          }"
        ></h1>
      </div>
    </div>
    <!--/Header-->

    <div style="margin-bottom: 10px; font-weight: bold">
      <p>
        <span
          [translate]="'name'"
          [translateParams]="{
            ar: 'التاريخ: ',
            en: 'Date: '
          }"
        ></span>
        <span> {{dateprint}} </span>
      </p>
    </div>

    <div style="margin-bottom: 10px ;text-align: center; font-weight: bold"  *ngIf="data.filter.enable == true">
      <p>
        <span
          [translate]="'name'"
          [translateParams]="{
            ar: 'من تاريخ: ',
            en: 'From Date: '
          }"
        ></span>
        <span> {{data.filter.DateFrom_P}} </span>
        <span
          [translate]="'name'"
          [translateParams]="{
            ar: 'الي تاريخ: ',
            en: 'To Date: '
          }"
        ></span>
        <span> {{data.filter.DateTo_P}} </span>
      </p>
    </div>
<div style="margin-bottom: 10px ;text-align: center; font-weight: bold" >
      <p>
        <span
          [translate]="'name'"
          [translateParams]="{
            ar: ' الفرع: ',
            en: 'Branch: '
          }"
        ></span>
        <span> {{BranchName}} </span>
 
      </p>
    </div>
    <div class="services" style="width: 100%; margin-bottom: 20px">
      <div class="content">
        <table style="text-align: center; vertical-align: middle; width: 100%">
          <thead>
            <tr>
            <td
              style="
                font-size: 10px;
                background-color: #fff;
                padding: 14px 4px;
                text-align: center;
                color: #272727;
                word-wrap: break-word;
                border-inline-start: 1px dashed #0c8191;
                border: 1px dashed #272727;
                font-weight: bold;
              "
            ></td>
            <td
            colspan="6"
              style="
                font-size: 10px;
                background-color: #fff;
                padding: 14px 4px;
                text-align: center;
                color: #272727;
                word-wrap: break-word;
                border-inline-start: 1px dashed #0c8191;
                border: 1px dashed #272727;
                font-weight: bold;
              "
            >{{ "" | translate }}</td>
          </tr>
          <tr>
            <td
            style="
              font-size: 10px;
              background-color: #fff;
              padding: 14px 4px;
              text-align: center;
              color: #272727;
              word-wrap: break-word;
              border-inline-start: 1px dashed #0c8191;
              border: 1px dashed #272727;
              font-weight: bold;
            "
          >{{ "account" | translate }}</td>
          <td
            style="
              font-size: 10px;
              background-color: #fff;
              padding: 14px 4px;
              text-align: center;
              color: #272727;
              word-wrap: break-word;
              border-inline-start: 1px dashed #0c8191;
              border: 1px dashed #272727;
              font-weight: bold;
            "
          >{{ "الرصيد" | translate }}</td>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of printprojectsDataSource">
              <ng-container *ngIf="item.accountId!=0">

              <td
                style="
                  background-color: #fff;
                  font-size: 10px;
                  font-weight: bold;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
              >
              {{item.accCode}}-{{ item.acc_NameAr }}
              </td>
              <td
                style="
                  background-color: #fff;
                  font-size: 10px;
                  font-weight: bold;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline-start: 1px dashed #272727;
                border: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
              >
              {{item.totalFinal}}
              </td>
          </ng-container>
            </tr>
            <ng-container *ngFor="let entry of printprojectsDataSource">
              <ng-container *ngIf="entry.accountId==0">
            <tr>
              <td
                style="
                  background-color: #fff;
                  font-size: 10px;
                  font-weight: bold;
                  padding: 10px 0px;
                  color: #272727;
                  border-inline: 1px dashed #272727;
                  border-bottom: 1px dashed #272727;
                "
              >{{ "إجمالي الالتزمات وحقوق الملكية	" | translate }}</td>
            <td
              style="
                background-color: #fff;
                font-size: 10px;
                font-weight: bold;
                padding: 10px 0px;
                color: #272727;
                border-inline-start: 1px dashed #272727;
              border: 1px dashed #272727;
                border-bottom: 1px dashed #272727;
              "
            >
            {{entry.totalFinal}}
            </td>
            </tr>
</ng-container>
</ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
  <!-- DetailsMonitorModal -->
<ng-template #DetailsMonitorModal let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl">{{ MonitorName }}</span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="max-h-100 overflow-x-scroll overflow-y-scroll p-4">
    <tabset>
      <tab heading="  من العملاء">
        <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "Account" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorCustomer">
                <td class="border px-4 py-2 fw-bold">{{entry.accountName}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorCustomer.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading="   من المشاريع">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "The project" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorProject">
                <td class="border px-4 py-2 fw-bold">{{entry.projectNo}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorProject.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading="من الموظفين">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "Account" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorEmployee">
                <td class="border px-4 py-2 fw-bold">{{entry.accountName}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorEmployee.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading=" من الخدمات">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  أسم الخدمة
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorService">
                <td class="border px-4 py-2 fw-bold">{{entry.servicesName}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorService.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading="من الموردين">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "Account" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorSupplier">
                <td class="border px-4 py-2 fw-bold">{{entry.accountName}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
                <td class="border px-4 py-2">{{ entry.opCredit }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorSupplier.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading=" من السندات">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "Voucher type" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold" *ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorVoucher">
                <td class="border px-4 py-2 fw-bold">{{entry.typeName}}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorVoucher.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
     <tab heading=" من الفروع">
       <div class="content">
        <div class="overflow-auto mt-4">
          <table class="w-100 bg-gray-100">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "branch name" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold">
                  {{ "details" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==true">
                  {{ "Credit" | translate }}
                </th>
                <th class="px-4 py-2 text-center text-base fw-bold"*ngIf="creditORdepit==false">
                  {{ "Debit" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of DetailsMonitorBranch">
                <td class="border px-4 py-2 fw-bold">{{ entry.branchName }}</td>
                <td class="border px-4 py-2">{{ entry.details }}</td>
                <td class="border px-4 py-2">{{ entry.total }}</td>
              </tr>
              <tr *ngIf="DetailsMonitorBranch.length === 0">
                <td colspan="9" class="text-center p-2">No data available</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
     </tab>
    </tabset>
  </div>

  <div class="flex justify-end p-3">
    <button (click)="modal?.dismiss()" class="btn btn-secondary">
      {{ "close" | translate }}
    </button>
  </div>
</ng-template>
